/Gang_of_Four/ProxyPattern/nbproject/private/
/Gang_of_Four/ProxyPattern/build/
/Gang_of_Four/AdapterPattern/AdapterPattern/nbproject/private/
/Gang_of_Four/AdapterPattern/AdapterPattern/build/
/Gang_of_Four/CommandPattern/CommandPattern/nbproject/private/
/Gang_of_Four/CommandPattern/R_W Lock Pattern Presentation/nbproject/private/
/Gang_of_Four/CommandPattern/R_W Lock Pattern Presentation/build/
/Gang_of_Four/CommandPattern/R_W Lock Pattern Presentation/dist/
/Gang_of_Four/CommandPattern/RG_Example_Assignment/nbproject/private/
/Gang_of_Four/CommandPattern/RG_Example_Assignment/build/
/DP_Lab_Terminal/nbproject/private/
/DP_Lab_Terminal/build/
